body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 40px auto;
  padding-top: 20px;
  padding-bottom: 7px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  width: 360px;
  margin: 0px auto;
  padding: 7px;
}

.content {
  background: #e3f4ff;
  width: 360px;
  margin: 10px auto;
  font-size: 16px;
  padding: 7px;
}

.button-container {
  background: #e3f4ff;
  width: 360px;
  margin: 0px auto;
  text-align: center;
  padding: 7px;
}

button {
  background: white;
  border: 1px solid #eee;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}